* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

body {
  margin: 0;
  padding: 0
}

main {
  display: block
}

h1,
h2,
h3,
h4,
h5,
hr,
img,
li,
p,
ul {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0
}

li,
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-text-decoration-skip: objects
}

a,
button,
input,
textarea {
  border: 0;
  padding: 0;
  font-size: inherit
}

a:active,
a:focus,
a:hover,
button:active,
button:focus,
button:hover,
input:active,
input:focus,
input:hover,
textarea:active,
textarea:focus,
textarea:hover {
  outline: none
}

button,
input,
select {
  font-family: inherit;
  overflow: visible;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0
}

button::-ms-expand,
input::-ms-expand,
select::-ms-expand {
  display: none
}

button:hover,
input:hover,
select:hover {
  cursor: pointer
}

button:focus,
input:focus,
select:focus {
  outline: none
}

input[type=submit]:hover {
  cursor: pointer
}

audio:not([controls]) {
  display: none;
  height: 0
}

audio,
canvas,
video {
  display: inline-block
}

button,
input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

body {
  font-family: 'Open Sans';
}

.text-box {
  text-align: center;
  border: 1px solid #2980B9;
  background-color: #3498DB;
  color: white;
}

button {
  border-radius: 3px;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  padding: 15px 0;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin: 16px auto;
  display: block;
  width: 210px;
}

button:hover {
  background-color: #e7e7e7;
}

#grids {
  display: none;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.05;
  pointer-events: none;
  max-width: 1272px;
  left: 50%;
  transform: translateX(-50%);
}

.grid {
  height: 100%;
}

.grid:nth-child(odd) {
  background-color: rgb(236, 0, 140);
}

.mobile,
.tablet-desktop {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.mobile .grid {
  width: 6.6667%;
}

.tablet-desktop .grid {
  width: 3.2258%;
}

#grids.show {
  display: block;
}

@media screen and (max-width: 767px) {
  .mobile {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .tablet-desktop {
    display: flex;
  }
}

/* BOX LIST */
.box-list li {
  border: 1px solid gray;
}